<div (click)="changeAction()">
  <a class="text-light" [routerLink]="this.urlToRedirect">
    <div class="animated bounce">
      <div *ngIf="arrowDirection === ArrowDirection.ARROW_UP; then arrowUp else arrowDown">here is ignored</div>
      <ng-template #arrowUp>
        <div class="arrow arrow-up">
          <a href="#features">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </ng-template>
      <ng-template #arrowDown>
        <div class="arrow">
          <a href="#features">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </ng-template>
    </div>
  </a>
</div>
