<div class="full-height text-light">
  <div class="m-auto align-items-center justify-content-center h-100 bg-deep-dark">
    <div class="row m-auto w-75 h-100 align-items-center">
      <div class="w-100 pb-4"></div>
      <span style="-webkit-box-shadow: 50px 25px 300px 40px rgba(9,0,255,1);
      -moz-box-shadow: 50px 25px 300px 40px rgba(9,0,255,1);
      box-shadow: 50px 25px 300px 60px rgba(9,0,255,1);">
      </span>
      <div class="col-sm-6">
        <div class="text-center">
          <img src="./assets/img/icons/anonymous.png" width="100" height="100" alt="Private and Untraceable Image"/>
          <h5 class="card-title h2">Private and Untraceable</h5>
          <p class="card-text m-auto w-75">ZEOS will enable fully private and untraceable transactions on the EOS mainnet. You will
            be able to send ZEOS to whomever you want anonymous thanks to the transparency of the EOS blockchain.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text-center">
          <img src="./assets/img/icons/fee.png" width="100" height="100" alt="Transaction Fees Image" />
          <h5 class="card-title h2">Zero Transaction Fees</h5>
          <p class="card-text m-auto w-75">Like all transparent token transfers on EOS private ZEOS transactions will be feeless as
            well. The only cost for transacting privately is going to be CPU time - as with all other transactions on
            EOS.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="bg-deep-dark text-center">
          <img src="./assets/img/icons/lighting.png" width="100" height="100" alt="Instantaneous Transactions Image" />
          <h5 class="card-title h2">Instantaneous Transactions</h5>
          <p class="card-text m-auto w-75">Since EOS block times are only 0.5 seconds private transactions using ZEOS will be
            blazingly fast. After preparing a transaction on your local device by todo proof .</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="bg-deep-dark text-center">
          <img src="./assets/img/icons/key.png" width="100" height="100" alt="State of the Art Technology Image" />
          <h5 class="card-title h2">State of the Art Technology</h5>
          <p class="card-text m-auto w-75">Transactions with ZEOS are based on Zero Knowledge Proofs. This is state of the art
            technology for private transactions. It is even more anonymous than Monero todo.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card-body bg-deep-dark text-center">
          <img src="./assets/img/icons/mount.png" width="100" height="100" alt="Transaction Scalable Image" />
          <h5 class="card-title h2">Scalable</h5>
          <p class="card-text m-auto w-75">ZEOS utilizes LiquidApps' DAPP Network services to provide unlimited scaling and lowest
            CPU costs for the end user. The goal of ZEOS is to make private transactions todo.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-body bg-deep-dark text-center">
          <img src="./assets/img/icons/development.png" width="100" height="100" alt="More in the future image" />
          <h5 class="card-title h2">More to come</h5>
          <p class="card-text m-auto w-75">Private transactions with ZEOS are just the beginning. The long term goal of ZEOS is to
            create tools and protocols necessary to empower developers to build an todo.</p>
        </div>
      </div>

      <div (click)="changeAction()" class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-bar-down"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
        </svg>
      </div>
    </div>
  </div>
</div>
