<div class="full-height text-light">
  <div class="m-auto align-items-center justify-content-center h-100 bg-deep-dark">
    <div class="row m-auto w-100 h-75 align-items-center">
      <span class="blue-halo-big"></span>

      <div class="col-md-12 col-lg-4">
        <div class="text-center">
          <img src="./assets/img/icons/anonymous.png" width="100" height="100" alt="{{('public.components.second-step.first-container-alt' | transloco)}}"/>
          <h5 class="card-title h2">{{('public.components.second-step.first-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75">{{('public.components.second-step.first-container-text' | transloco)}}</p>
        </div>
      </div>

      <div class="col-md-12 col-lg-4">
        <div class="text-center">
          <img src="./assets/img/icons/fee.png" width="100" height="100" alt="{{('public.components.second-step.second-container-alt' | transloco)}}" />
          <h5 class="card-title h2">{{('public.components.second-step.second-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75">{{('public.components.second-step.second-container-text' | transloco)}}</p>
        </div>
      </div>

      <div class="col-md-12 col-lg-4">
        <div class="text-center">
          <img src="./assets/img/icons/lighting.png" width="100" height="100" alt="{{('public.components.second-step.third-container-alt' | transloco)}}" />
          <h5 class="card-title h2">{{('public.components.second-step.third-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75">{{('public.components.second-step.third-container-text' | transloco)}}</p>
        </div>
      </div>

      <div class="col-md-12 col-lg-4">
        <div class="text-center">
          <img src="./assets/img/icons/key.png" width="100" height="100" alt="{{('public.components.second-step.fourth-container-alt' | transloco)}}" />
          <h5 class="card-title h2">{{('public.components.second-step.fourth-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75">{{('public.components.second-step.fourth-container-text' | transloco)}}</p>
        </div>
      </div>

      <div class="col-md-12 col-lg-4">
        <div class="text-center">
          <img src="./assets/img/icons/mount.png" width="100" height="100" alt="{{('public.components.second-step.fifth-container-alt' | transloco)}}" />
          <h5 class="card-title h2">{{('public.components.second-step.fifth-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75">{{('public.components.second-step.fifth-container-text' | transloco)}}</p>
        </div>
      </div>

      <div class="col-md-12 col-lg-4">
        <div class="text-center">
          <img src="./assets/img/icons/development.png" width="100" height="100" alt="{{('public.components.second-step.sixth-container-alt' | transloco)}}" />
          <h5 class="card-title h2">{{('public.components.second-step.sixth-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75">{{('public.components.second-step.sixth-container-text' | transloco)}}</p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <app-arrow-redirect
        [emitAction]="LandingPageAction.THIRD_CONTAINER"
        [arrowDirection]="ArrowDirection.ARROW_DOWN"
        (arrowAction)="changeAction($event)">
      </app-arrow-redirect>
    </div>
  </div>
</div>
