<app-first-container
  [emitAction]="LandingPageAction.SIXTH_CONTAINER"
  [arrowDirection]="ArrowDirection.ARROW_DOWN"
  (landingPageAction)="changeAction($event)">

    <div class="row m-auto w-100 align-items-center text-lightgrey roadmap-container">
      <div class="d-grid text-center">
        <div class="row m-auto">
          <ul class="col-sm-12 sessions">
            <li>
              <div class="time nerd">{{('public.components.fifth-step.first-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.first-map-text' | transloco)}}<a href="['{{(('first-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.second-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.second-map-text' | transloco)}}<a href="['{{(('second-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.third-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.third-map-text' | transloco)}}<a href="['{{(('third-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.fourth-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.fourth-map-text' | transloco)}}<a href="['{{(('fourth-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.fifth-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.fifth-map-text' | transloco)}}<a href="['{{(('fifth-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.sixth-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.sixth-map-text' | transloco)}}<a href="['{{(('sixth-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.seventh-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.seventh-map-text' | transloco)}}<a href="['{{(('seventh-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.eighth-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.eighth-map-text' | transloco)}}<a href="['{{(('eighth-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.nineth-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.nineth-map-text' | transloco)}}<a href="['{{(('nineth-map-link') | transloco)}}']"><img src="./assets/img/icons/telegrama.png" width="25" height="25" class="mx-4" alt="Private and Untraceable Image"/></a></p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.tenth-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.tenth-map-text' | transloco)}}</p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.eleventh-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.eleventh-map-text' | transloco)}}</p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.twelfth-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.twelfth-map-text' | transloco)}}</p>
            </li>
            <li>
              <div class="time nerd">{{('public.components.fifth-step.thirteenth-map-date' | transloco)}}</div>
              <p class="nerd">{{('public.components.fifth-step.thirteenth-map-text' | transloco)}}</p>
            </li>
          </ul>
        </div>

    </div>
  </div>
</app-first-container>
