<app-first-container
  [emitAction]="LandingPageAction.FOURTH_CONTAINER"
  [arrowDirection]="ArrowDirection.ARROW_DOWN"
  (landingPageAction)="changeAction($event)">

    <div class="row m-auto top-50 start-50 text-center w-75 m-auto">
      <div class="col-sm-12 col-lg-6">
        <div class="col-md-12 d-block border rounded p-2 my-2" id="container">
          <img class="my-2" src="./assets/img/icons/anonymous.png" width="100" height="100" alt="{{('public.components.second-step.first-container-alt' | transloco)}}"/>
          <p class="fs-5 fw-bolder nerd">{{('public.components.third-step.first-container-title' | transloco)}}</p>
          <hr class="p-0 m-0">
          <p class="card-text m-auto py-4">{{('public.components.third-step.first-container-text' | transloco)}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="col-md-12 d-block border rounded p-2 my-2" id="container">
          <img class="my-2" src="./assets/img/icons/anonymous.png" width="100" height="100" alt="{{('public.components.second-step.first-container-alt' | transloco)}}"/>
          <p class="fs-5 fw-bolder nerd">{{('public.components.third-step.second-container-title' | transloco)}}</p>
          <hr class="p-0 m-0">
          <p class="card-text m-auto py-4">{{('public.components.third-step.second-container-text' | transloco)}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="col-md-12 d-block border rounded p-2 my-2" id="container">
          <img class="my-2" src="./assets/img/icons/anonymous.png" width="100" height="100" alt="{{('public.components.second-step.first-container-alt' | transloco)}}"/>
          <p class="fs-5 fw-bolder nerd">{{('public.components.third-step.third-container-title' | transloco)}}</p>
          <hr class="p-0 m-0">
          <p class="card-text m-auto py-4">{{('public.components.third-step.third-container-text' | transloco)}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="col-md-12 d-block border rounded p-2 my-2" id="container">
          <img class="my-2" src="./assets/img/icons/anonymous.png" width="100" height="100" alt="{{('public.components.second-step.first-container-alt' | transloco)}}"/>
          <p class="fs-5 fw-bolder nerd">{{('public.components.third-step.fourth-container-title' | transloco)}}</p>
          <hr class="p-0 m-0">
          <p class="card-text m-auto py-4">{{('public.components.third-step.fourth-container-text' | transloco)}}</p>
        </div>
      </div>
    </div>
    <!-- END of Content -->
  </app-first-container>
