.full-height {
  height: 100vh!important;
}

@media screen and (max-width: 1260px) {
  .full-height {
    height: 120vh!important;
  }
}

@media screen and (max-width: 660px) {
  .full-height {
    height: 175vh!important;
  }
}
