<div class="full-height main-container text-light">
  <div class="full-height d-flex align-items-center justify-content-center bg-deep-dark position-relative">
    <div class="w-100">
      <div class="d-grid text-center px-2">
        <p class="fs-1 fw-bolder pb-4" style="letter-spacing: 8px; font-family: Arcade;">ZERO-KNOWLEDGE PROOFS(ZK-Snarks)</p>
        <div class="row m-auto justify-content-center">
          <p class="col-sm-3 mx-4 fs-5 fw-bolder p-4 border rounded" style="letter-spacing: 8px; font-family: Arcade;">Learn more</p>
          <p class="col-sm-3 mx-4 fs-5 fw-bolder p-4 border rounded" style="letter-spacing: 8px; font-family: Arcade;">White Paper</p>
          <p class="col-sm-3 mx-4 fs-5 fw-bolder p-4 border rounded" style="letter-spacing: 8px; font-family: Arcade;">Privacy on eos</p>
        </div>

      </div>
      <div class="w-100 position-absolute bottom-0 start-50 translate-middle-x pb-4">
        <div (click)="changeAction()" class="text-center">
          <a class="text-light" [routerLink]="['/']">
            <div class="animated bounce infinite">
              <img title="Go to the next container" src="./assets/img/icons/arrow_down.svg" alt="Token Logo Image"/>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
