
.full-height {
  height: 100vh!important;
}

#container {
  min-height: 350px!important;
}
.card-text {
  min-height: 130px!important;
}
@media screen and (max-width: 1260px) {
  .row {
    width: 100%!important;
  }
  .card-text {
    font-size: calc(14px + .9vw)!important;
  }
}
