.full-height {
  min-height: 100vh!important;
  display: block;
  padding-bottom: 50px!important;
}
app-arrow-redirect {
  z-index: 1;
  position: relative!important;
  margin:auto;
  bottom: -50px!important;
}
#content {
  z-index: 0;
}

@media screen and (max-width: 1260px) {
  app-arrow-redirect {
    margin-top: 2%!important;
    padding-top: 2%!important;
  }
  .full-height {
    padding-bottom: 150px!important;
  }
}
