.full-height {
  min-height: 100vh!important;
}
app-arrow-redirect {
  z-index: 1;
  position: relative!important;
  top: -100px!important;
}
#content {
  z-index: 0;
  padding-top: 2%;
}
@media screen and (max-width: 1260px) {
  app-arrow-redirect {
    margin-top: 2%!important;
    padding-top: 2%!important;
    position: relative!important;
    bottom: 50px!important;
  }
}
