<app-first-container
  [emitAction]="LandingPageAction.FIFTH_CONTAINER"
  [arrowDirection]="ArrowDirection.ARROW_DOWN"
  (landingPageAction)="changeAction($event)">

  <!-- START of Content -->

    <div class="row g-0 text-center w-100 text-lightgrey">
      <div class="col-md-12 col-lg-4 pt-4 px-2">
        <div class="text-center m-auto" id="container">
          <img class="my-4" src="./assets/img/icons/gas-station.png" width="100" height="100" alt="{{('public.components.fourth-step.first-container-alt' | transloco)}}"/>
          <h5 class="card-title h2 nerd">{{('public.components.fourth-step.first-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75 py-4">{{('public.components.fourth-step.first-container-text' | transloco)}}</p>
        </div>
      </div>

      <div class="col-md-12 col-lg-4 pt-4 px-2">
        <div class="text-center m-auto" id="container">
          <img class="my-4" src="./assets/img/icons/symbolic.png" width="100" height="100" alt="{{('public.components.fourth-step.second-container-alt' | transloco)}}" />
          <h5 class="card-title h2 nerd">{{('public.components.fourth-step.second-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75 py-4">{{('public.components.fourth-step.second-container-text' | transloco)}}<br>ㅤ</p>
        </div>
      </div>

      <div class="col-md-12 col-lg-4 pt-4 px-2">
        <div class="text-center m-auto" id="container">
          <img class="my-4" src="./assets/img/icons/time-to-market.png" width="100" height="100" alt="{{('public.components.fourth-step.third-container-alt' | transloco)}}" />
          <h5 class="card-title h2 nerd">{{('public.components.fourth-step.third-container-title' | transloco)}}</h5>
          <p class="card-text m-auto w-75 py-4">{{('public.components.fourth-step.third-container-text' | transloco)}}<br>ㅤ</p>
        </div>
      </div>
    </div>

  <!-- END of Content -->
</app-first-container>
