.full-height {
  height: 100vh!important;
}

.title {
  margin-top: 5.5rem!important;
}

@media screen and (max-width: 1260px) {
  .full-height {
    height: 140vh!important;
  }
  .card-text {
    font-size: calc(14px + .9vw)!important;
  }
}

@media screen and (max-width: 660px) {
  .full-height {
    height: 165vh!important;
  }
}

#container {
  min-height: 400px;
}
