<div class="full-height text-light">
  <div class="m-auto align-items-center justify-content-center h-100 bg-deep-dark">
    <div class="w-100 text-center">
      <p class="fs-4 fw-bolder m-0 pt-4" style="letter-spacing: 8px; font-family: Arcade;">Roadmap</p>
    </div>
    <div class="row m-auto w-25 h-100 align-items-center">

      <ul class="sessions">
        <li>
          <div class="time">4:30 PM </div>
          <p>The only time I don't feel sleepy cause it's work out time. I mean walking time. 😹</p>
        </li>
        <li>
          <div class="time">07:00 PM </div>
          <p>Food my tummy needs, sleep my body needs.👿</p>
        </li>
        <li>
          <div class="time">07:30 PM </div>
          <p>My tummy's happy time 🍝</p>
        </li>
        <li>
          <div class="time">10:00 PM </div>
          <p>uh oh!!! fuel low, get some snacks but wait should I just take a quick nap?🤓 </p>
        </li>
        <li>
          <div class="time">2:30 PM </div>
          <p>All hail! The time to sleep has finally arrived.😴😴😴😴😴 </p>
        </li>
      </ul>


      <div class="col-sm-12">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" (click)="changeAction()" width="75" height="75" fill="currentColor"
            class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
          </svg>
        </div>
      </div>

    </div>
  </div>
</div>
