<div class="full-height text-light">
  <div class="m-auto align-items-center justify-content-center h-100 bg-deep-dark">
    <div class="row m-auto w-75 h-100 align-items-center">
      <div class="w-100 pb-4"></div>
      <div class="col-sm-12">
        <ul class="timeline mt-0 pt-0">
          <div class="container text-center p-0 m-0">
            <p class="fs-4 fw-bolder" style="letter-spacing: 8px; font-family: Arcade;">Roadmap</p>
          </div>
          <!-- Item 1 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Project Idea</span>
              </div>
              <div class="desc">My current employment. Way better than the position before!</div>
            </div>
          </li>

          <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Test Net</span>
              </div>
              <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
            </div>
          </li>

          <!-- Item 3 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">First Integrations</span>
              </div>
              <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
            </div>
          </li>

          <!-- Item 4 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Marketing</span>
              </div>
              <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
            </div>
          </li>

          <!-- Item 4 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Main Net</span>
              </div>
              <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-sm-12">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" (click)="changeAction()" width="75" height="75" fill="currentColor"
            class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
          </svg>
        </div>
      </div>

    </div>
  </div>
</div>
