<app-first-container
  [emitAction]="LandingPageAction.SECOND_CONTAINER"
  [arrowDirection]="ArrowDirection.ARROW_DOWN"
  (landingPageAction)="changeAction($event)">

  <!-- START of Content -->
  <div class="text-center">
    <p class="fw-bolder top-0 pb-4 title arcade-nospace">{{('public.components.first-step.title' | transloco)}}</p>

    <span class="blue-halo-small"></span>

    <img class="m-auto" src="./assets/img/icons/zeos_white.svg" width="341" height="341" alt="{{('public.components.first-step.token-logo-alt' | transloco)}}" />

    <div class="w-100 p-2 pt-4">
      <span class="text-capitalize fw-bolder bg-transparent subtitle nerd">{{('public.components.first-step.hashtag-privacy-matters' | transloco)}}</span>
    </div>
  </div>
  <!-- END of Content -->

</app-first-container>
