.full-height {
  height: 100vh!important;
}

.title {
  font-size: 9.41em!important;
}
.subtitle {
  font-size: 2.41em!important;
}
.blue-halo-small {
  -webkit-box-shadow: 150px 0px 182px 141px rgba(9, 0, 255, 1)!important;;
  -moz-box-shadow: 150px 0px 182px 141px rgba(9, 0, 255, 1)!important;;
  box-shadow: 150px 0px 182px 141px rgba(9, 0, 255, 1)!important;;
}
@media screen and (max-width: 660px) {
  .full-height {
    min-height: 100vh!important;
  }
  .title {
    font-size: 5.41rem!important;
  }
  .subtitle {
    font-size: 1.41em!important;
  }
}
