<div class="full-height main-container text-light">
  <div class="full-height d-flex align-items-center justify-content-center bg-deep-dark">
    <div class="d-grid text-center">
      <p class="fs-1 fw-bolder pb-4" style="letter-spacing: 8px; font-family: Arcade;">ZEOS</p>
      <span style="-webkit-box-shadow: 0px 145px 182px 101px rgba(9,0,255,1);
        -moz-box-shadow: 0px 145px 182px 101px rgba(9,0,255,1);
        box-shadow: 0px 145px 182px 101px rgba(9,0,255,1);">
      </span>
      <img src="./assets/img/icons/zeos_white.png" width="250" height="250" alt="Token Logo Image" />
      <h2 class="text-capitalize fw-bolder p-2 bg-transparent">#PrivacyMatters</h2>

      <div class="pb-4 position-absolute bottom-0 start-50 translate-middle-x">
        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
        </svg>
      </div>

    </div>
  </div>
</div>
