/* You can add global styles to this file, and also import other style files */
.arcade {
  letter-spacing: 8px !important;
  font-family: Arcade !important;
}

.arcade-nospace {
  font-family: Arcade !important;
}

.nerd {
  font-size: 2em !important;
  font-family: Nerd !important;
}
