<app-navigation-bar (landingPageAction)="changeUserLocation($event)"></app-navigation-bar>
<app-first-step (landingPageAction)="changeUserLocation($event)" #step1></app-first-step>
<app-second-step (landingPageAction)="changeUserLocation($event)" #step2></app-second-step>
<app-third-step (landingPageAction)="changeUserLocation($event)" #step3></app-third-step>
<app-fourth-step (landingPageAction)="changeUserLocation($event)" #step4></app-fourth-step>
<app-fifth-step (landingPageAction)="changeUserLocation($event)" #step5></app-fifth-step>
<app-sixth-step (landingPageAction)="changeUserLocation($event)" #step6></app-sixth-step>
